streamlit
langchain==0.1.9
langchain-community==0.0.25
langchain-core==0.1.28
langchain-huggingface
langchain-groq
sentence-transformers
faiss-cpu
python-dotenv
pypdf
PyPDF2
pypdfium2
tqdm
typing-extensions
